.page-header
  = link_to new_user_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New User
  %h1 Listing users

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Email
        %th Role
        %th
        %th
        %th

    %tbody
      - @users.each do |user|
        %tr
          %td
            %img{ src: user.image, width: '20px'}
            = user.name
          %td= user.email
          %td= user.role.titleize
          %td= link_to 'Show', user
          %td= link_to 'Edit', edit_user_path(user)
          %td= link_to 'Destroy', user, data: { confirm: 'Are you sure?' }, method: :delete
