.page-header
  = link_to users_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_user_path(@user), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show user

%table
  %td{ style: 'padding-left:150px'}
    %img{ src: @user.image, width: '100px'}  
  %td{ style: 'padding-left:50px'}
    %p
      %b Name:
    %p 
      %b Email:
    %p 
      %b Role:
  %td{ style: 'padding-left:20px'}
    %p= @user.name
    %p= @user.email
    %p= @user.role.titleize
